<div class="mt-4">
<form method="POST" >  {{!--POST gui du lieu tu client len server, GET nhan du lieu tu server ve client --}}
  <div class="mb-3">
    <label for="search-input">Từ khóa </label>
    <input type="text" name="q" class="form-control" id="search-input" placeholder="Nhập từ khóa">
  </div>
   <div class="mb-3">
    <label for="search-input">Từ khóa </label>
    <select name="gender" class="form-control" id="gender-input" >
      <option value="">--Chon gioi tinh--</option>
      <option value="male">Nam</option>
      <option value="female">Nu</option>
    </select>
  </div>
  <button type="submit" class="btn btn-primary">Tìm kiếm</button>
</form>
</div>